In [25]:
from pyspark.sql import SparkSession

# Spark session & context
spark = (SparkSession
         .builder
         .master("spark://spark:7077")
         .appName("junction")
         .getOrCreate())
sc = spark.sparkContext

In [26]:
spark

In [42]:
from glob import glob
from pyspark.sql.types import *
import pandas as pd
import databricks.koalas as ps

files = glob('/home/jovyan/work/data/*.csv')

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [44]:
df = pd.read_csv(files[1])
df = spark.createDataFrame(df)
df.printSchema()

root
 |-- userId: long (nullable = true)
 |-- movieId: long (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

In [49]:
df = pd.read_csv('all_stations.csv')
df['Route'] = df['Route'].astype(str)
df['id'] = df['id'].astype(str)
# df['concat'] = df[['Route', 'id']].agg('-'.join, axis=1)
df['concat'] = df['Route'] + '-' + df['id']
df

,id,Timestamp,Route,Direction,bus_stop_name,Latitude,Longitude,main_bus_stop,concat
0,0,2022-08-04 11:21:35,35,go,แปดสอง,13.666487,100.515707,NaN,35-0
1,1,2022-08-04 11:26:36,35,go,วัดสน2,13.668905,100.512754,วัดสน2,35-1
2,2,2022-08-04 11:27:56,35,go,วัดสน1/กม.9,13.670254,100.510581,NaN,35-2
3,3,2022-08-04 11:29:05,35,go,วัดสารอด,13.674428,100.503958,NaN,35-3
4,4,2022-08-04 11:33:23,35,go,ตลาดบางประกอก,13.676871,100.500075,NaN,35-4
...,...,...,...,...,...,...,...,...,...
8299,8299,2022-09-21 15:16:44,170,back,โรงพยาบาลธนบุรี 2,13.783500,100.401922,NaN,170-8299
8300,8300,2022-09-21 15:17:36,170,back,ตลาดเซฟอี,13.783982,100.397225,NaN,170-8300
8301,8301,2022-09-21 15:18:36,170,back,ตรงข้ามอู่บรมราชชนนี,13.784772,100.389593,NaN,170-8301
8302,8302,2022-09-21 15:20:36,170,back,หมู่บ้านเดอะซิตี้,13.785606,100.386342,NaN,170-8302
8303,8303,2022-09-21 13:20:46,170,back,อู่บรมราชชนนี,13.785257,100.389633,อู่บรมราชชนนี,170-8303