In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
import time

In [25]:
vehicles = pd.read_csv('/home/jovyan/work/data/vehicles/vehicles_30-11-22.csv')
vehicles = vehicles.drop(['status'], axis=1)

In [3]:
engine = create_engine("postgresql://admin:admin@192.168.14.91/eta", echo=True)

In [4]:
day = 15
query = f"""
SELECT *
FROM gps_log
WHERE data_from = 'thai-star' and utc_ts >= '2022-11-{day} 00:00:00' and utc_ts < '2022-11-{day+1} 00:00:00'
"""

In [5]:
start = time.time()
df = pd.read_sql(query, con=engine)
end = time.time()
print(f"Execution time: {(end-start)/60} minutes")

2022-12-16 03:01:44,861 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-12-16 03:01:44,863 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-16 03:01:44,870 INFO sqlalchemy.engine.Engine select current_schema()
2022-12-16 03:01:44,871 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-16 03:01:44,877 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-12-16 03:01:44,878 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-16 03:01:44,886 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-12-16 03:01:44,888 INFO sqlalchemy.engine.Engine [generated in 0.00131s] {'name': "\nSELECT *\nFROM gps_log\nWHERE data_from = 'thai-star' and utc_ts >= '2022-11-15 00:00:00' and utc_ts < '2022-11-16 00:00:00'\n"}
2022-12-16 03:01:44,899 INFO sqlalchemy.engine.Engine
SELECT *
FROM gps_log
WHERE data_from = 'thai-star' and utc_ts >= '2022-11-15 00:00:00' and utc_ts < '2022-11-16 00:00:00'

2022-12-16 03:01:44,901 INFO sqlalchemy.engine.Engine [raw sql] {}
Execution time: 176.83718919754028 seconds

In [11]:
df

,_id,utc_ts,ext_power_status,wh_based_speed,distance_until_recharge,soc,recv_utc_ts,longitude,num_sats,speed,...,door_state,hdop,driver_track1,driver_track3,driver_track2,imei,ext_power,queue_time,data_from,created_at
0,6372d7d92e41a4636850f8c9,2022-11-15 00:05:26,1,0,0,0,2022-11-15 00:05:31,100.392830,24,55,...,00000000,1,^PHONPHAI$MR.^^,22 1 0232464 00102,6007643471200846789=241219660208=,867648045380928,19.0,2022-11-15 00:05:44.833,thai-star,2022-11-15 00:05:44.969
1,6372d7d92e41a4636850f8ca,2022-11-15 00:05:26,1,0,0,0,2022-11-15 00:05:31,100.481323,24,22,...,00000000,1,^YOTTHIKRAI$MR.^^,22 1 0114262 00102,6007643450400614261=250719620930=,867648045387485,19.0,2022-11-15 00:05:44.833,thai-star,2022-11-15 00:05:44.969
2,6372d7d92e41a4636850f8cb,2022-11-15 00:05:26,1,0,0,0,2022-11-15 00:05:31,100.419327,24,0,...,00000000,1,,23 1 0006265 70400,,867648045407267,18.0,2022-11-15 00:05:44.833,thai-star,2022-11-15 00:05:44.969
3,6372d7d92e41a4636850f8c2,2022-11-15 00:05:26,1,0,0,0,2022-11-15 00:05:32,100.619514,24,46,...,00000000,1,,,,866728061461652,13.0,2022-11-15 00:05:44.833,thai-star,2022-11-15 00:05:44.969
4,6372d7f82e41a46368510273,2022-11-15 00:05:26,1,0,0,0,2022-11-15 00:06:10,100.533813,19,0,...,00000000,1,^PRASART$WADSANA$MRS.^^,30 2 0014263 00100,6007643100500939261=230619621228=,866381059445012,20.1,2022-11-15 00:06:16.047,thai-star,2022-11-15 00:06:16.148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523610,6374280b2e41a46368c101c5,2022-11-15 23:59:52,1,0,0,0,2022-11-15 23:59:57,100.557732,24,45,...,00000000,1,^VICHACHAI$MR.^^,23 1 0023651 00100,6007643460300538856=230719571231=,866728061458112,22.0,2022-11-16 00:00:11.087,thai-star,2022-11-16 00:00:11.196
1523611,6374280b2e41a46368c101c6,2022-11-15 23:59:52,1,0,0,0,2022-11-15 23:59:58,100.526474,24,31,...,00000000,1,,,,866728061461355,18.0,2022-11-16 00:00:11.087,thai-star,2022-11-16 00:00:11.196
1523612,6374280b2e41a46368c101c7,2022-11-15 23:59:52,1,0,0,0,2022-11-15 23:59:58,100.676994,24,0,...,00000000,1,^PATHUMMASUT$MR.^^,22 1 0061565 70202,6007643720900233069=250719691011=,866728061461769,14.0,2022-11-16 00:00:11.087,thai-star,2022-11-16 00:00:11.196
1523613,6374280b2e41a46368c101c8,2022-11-15 23:59:52,1,0,0,0,2022-11-15 23:59:58,100.511475,23,0,...,00000000,1,^CHAISRI$MR.^^,22 1 0162156 00102,6007643670101341414=250919650130=,866728061462189,21.0,2022-11-16 00:00:11.087,thai-star,2022-11-16 00:00:11.196
1523614,6374280b2e41a46368c101ca,2022-11-15 23:59:52,1,0,0,0,2022-11-15 23:59:57,100.730042,24,0,...,00000000,1,^KUDEEPAN$MR.^^,22 1 0192551 10700,6007643130300356050=241219701125=,866728061462890,19.0,2022-11-16 00:00:11.087,thai-star,2022-11-16 00:00:11.196

In [49]:
clean_df = df[['utc_ts', 'latitude', 'longitude', 'speed', 'odometer', 'imei']]
clean_df.imei = clean_df.imei.astype('int64')
clean_df = clean_df.merge(vehicles, left_on = 'imei', right_on='gps_imei', how='left')
clean_df = clean_df.drop(['imei'],axis=1)
clean_df.rename(columns={'utc_ts':'time', 'longitude':'long', 'latitude':'lat'}, inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [50]:
sit_gps = pd.read_csv('/home/jovyan/work/data/gps_sit/sitgps_2022-10-01.csv')

In [51]:
sit_gps.columns

Index(['time', 'lat', 'lon', 'speed', 'odometer', 'gps_imei', 'registerNumber',
       'chassisNumber', 'motorNumber', 'brand', 'description', 'route'],
      dtype='object')

In [52]:
clean_df.columns

Index(['time', 'lat', 'long', 'speed', 'odometer', 'gps_imei',
       'registerNumber', 'chassisNumber', 'motorNumber', 'brand',
       'description', 'route'],
      dtype='object')

In [56]:
route_path = '/home/jovyan/work/data/routes/routes.csv'
route = pd.read_csv(route_path)
all_route_list = route.routes.unique().tolist()

In [58]:
len(clean_df)

1523615

In [67]:
clean = clean_df[clean_df.route.isin(all_route_list)].reset_index(drop=True)
clean = clean.dropna(subset=['route'])
clean.route.unique()

array(['4-1(6)', '1-5(39)', '4-8(35)', '4-44(80ก.)'], dtype=object)

In [69]:
clean_df.dropna(subset=['route']).route.unique()

array(['124(4-51)', '147(4-25)', '127(2-19)', '29(1-1)', '52(1-6)',
       '40(4-39)', '3-15(133)', '4-40(56)', '4-36(7)', '4-1(6)',
       '1-5(39)', '123(4-50)', '4-8(35)', '558(S7)', '538(1-24E)',
       '48(3-11)', '554(S2)', '113(1-44)', '504(1-18E)', '51(2-8)',
       '4-21(120)', '110(2-35)', '38(3-8)', '4-44(80ก.)', '69(2-13)',
       '43(4-11)', '167(4-26)', '28(4-38)', '89(4-47)', '547(4-63)',
       '507(3-13)', '108(4-19)', '187(1-17)', '150(1-15)', '85(4-16)',
       '524(1-23)', '104(2-16)', '30(2-4)', '122(2-48)', '126(1-13)',
       '115(1-45)'], dtype=object)