In [1]:
import pandas as pd
import numpy as np

In [28]:
vehicles = pd.read_csv('data/vehicles/vehicles_30-11-22.csv')
for i in range(1,31):
    if i < 10:
        i = '0'+f'{i}'
    gps = pd.read_csv(f'data/gps_sit/sitgps_2022-10-{i}.csv')
    route_num = '1-37(27)'
    print(f"2022-10-{i}",np.sort(gps[gps.route == route_num].gps_imei.astype(int).unique()))

2022-10-01 []
2022-10-02 []
2022-10-03 []
2022-10-04 [864352047950852 864352047951652]
2022-10-05 [864352047950852 864352047951652]
2022-10-06 [864352047950852 864352047951652]
2022-10-07 [864352047950852 864352047951652]
2022-10-08 []
2022-10-09 []
2022-10-10 []
2022-10-11 []
2022-10-12 []
2022-10-13 []
2022-10-14 []
2022-10-15 []
2022-10-16 []
2022-10-17 []
2022-10-18 []
2022-10-19 [864352047950852 864352047951652]
2022-10-20 [864352047950852 864352047951652]
2022-10-21 [864352047950852 864352047951652]
2022-10-22 [864352047950852 864606049299802 864606049300014 864606049300592
 864606049301467 864606049306201 864606049306417 864606049308595
 864606049310815 864606049310849]
2022-10-23 [864352047951652 864606049299802 864606049300014 864606049300592
 864606049301228 864606049301467 864606049306201 864606049306417
 864606049308595 864606049310815 864606049310849]
2022-10-24 [864606049299802 864606049300014 864606049300592 864606049301228
 864606049301467 864606049306201 864606049306417 864606049308595
 864606049310815 864606049310849]
2022-10-25 [864606049299802 864606049300014 864606049300592 864606049301228
 864606049301467 864606049306201 864606049306417 864606049308595
 864606049310815 864606049310849]
2022-10-26 [864352047950852 864352047951652 864606049299802 864606049300014
 864606049300592 864606049301228 864606049301467 864606049306417
 864606049308595 864606049310815 864606049310849]
2022-10-27 [864352047950852 864352047951652 864606049299802 864606049300014
 864606049300592 864606049301467 864606049306201 864606049308595
 864606049310815 864606049310849]
2022-10-28 [864352047950852 864606049300014 864606049300592 864606049306201
 864606049308595]
2022-10-29 [864352047951652 864606049299802 864606049301228 864606049301467
 864606049306201 864606049306417 864606049308595 864606049310815
 864606049310849]
2022-10-30 [864352047950852 864352047951652 864606049299802 864606049300014
 864606049300592 864606049301228 864606049301467 864606049306201
 864606049306417 864606049308595 864606049310815 864606049310849]

In [8]:
# all routes
gps.route.unique()

array(['4-3(17)', '2-38(8)', '4-45(81)', '4-27E(173)', '1-3(34)',
       '4-15(82)', '2-42(44)', '1-2E(34)', '4-23E(140)', '4-17(88)',
       '3-25E(552)', '3-53', '1-61'], dtype=object)

In [22]:
import numpy as np
route_num = '1-37(27)'
np.sort(gps[gps.route == route_num].gps_imei.astype(int).unique())

array([], dtype=int64)

In [23]:
np.sort(vehicles[vehicles.route == route_num].gps_imei.unique())

array([864352047950852, 864352047951652, 864606049299802, 864606049300014,
       864606049300592, 864606049301228, 864606049301467, 864606049306201,
       864606049306417, 864606049308595, 864606049310815, 864606049310849])

# Arrival Time

In [21]:
from glob import glob
import pandas as pd
arrival_list = glob('/mnt/c/Users/ea_user/Documents/bas_project/ETA/eta_airflow/spark/resources/data/arrival_thaistar/*/arrival_time/*')

route = []
for i in range(len(arrival_list)):
    route.append(arrival_list[i].split('_')[-2])

def count_duplicates(lst):
    count = {}
    for item in lst:
        if item in count:
            count[item] += 1
        else:
            count[item] = 1
    return dict(sorted(count.items(), key=lambda item: item[1], reverse=True))

count_duplicates(route)

{'1-18E(504)': 1370,
 '1-24E(538)': 1071,
 '3-15(133)': 818,
 '4-38(28)': 654,
 '4-8(35)': 569,
 '4-51(124)': 442,
 '2-8(51)': 429,
 '4-36(7)': 308,
 '4-1(6)': 307,
 '4-50(123)': 276,
 '2-13(69)': 260,
 '1-17(187)': 256,
 '1-15(150)': 229,
 '4-19(108)': 218,
 'S2(554)': 214,
 '2-16(104)': 197,
 '2-35(110)': 197,
 '4-11(43)': 165,
 '1-6(52)': 161,
 '4-40(56)': 146,
 '3-8(38)': 117,
 '2-4(30)': 96,
 '4-21(120)': 70,
 '4-37(9)': 65,
 '4-26(167)': 62,
 '4-16(85)': 58,
 '4-47(89)': 52,
 '2-19(127)': 37,
 '2-48(122)': 37,
 '3-13(507)': 27,
 '1-23(524)': 20,
 '1-44(113)': 18,
 '1-13(126)': 16,
 '3-11(48)': 13}

# Link Time

In [65]:
from glob import glob
import pandas as pd
link_list = glob('/mnt/c/Users/ea_user/Documents/bas_project/ETA/eta_airflow/spark/resources/data/arrival_thaistar/*/link_time/*')

route = []
for i in range(len(link_list)):
    route.append(link_list[i].split('_')[-3])

def count_duplicates(lst):
    count = {}
    for item in lst:
        if item in count:
            count[item] += 1
        else:
            count[item] = 1
    return dict(sorted(count.items(), key=lambda item: item[1], reverse=True))

count_duplicates(route)

{'1-18E(504)': 2062,
 '1-24E(538)': 1643,
 '3-15(133)': 1275,
 '4-38(28)': 1001,
 '4-8(35)': 897,
 '2-8(51)': 646,
 '4-51(124)': 635,
 '4-1(6)': 568,
 '1-44(113)': 528,
 '3-11(48)': 507,
 '4-36(7)': 482,
 '4-50(123)': 413,
 '1-17(187)': 394,
 '2-13(69)': 384,
 '1-15(150)': 358,
 '4-19(108)': 319,
 'S2(554)': 318,
 '2-16(104)': 296,
 '2-35(110)': 265,
 '4-40(56)': 252,
 '1-6(52)': 242,
 '4-11(43)': 216,
 '3-8(38)': 193,
 '2-4(30)': 142,
 '4-21(120)': 120,
 '4-37(9)': 94,
 '4-26(167)': 86,
 '4-16(85)': 81,
 '4-47(89)': 77,
 '2-48(122)': 68,
 '2-19(127)': 55,
 '3-13(507)': 38,
 '1-23(524)': 22,
 '1-13(126)': 20}

In [66]:
df_list = []
for path in link_list:
    df_list.append(pd.read_csv(path))
link_time = pd.concat(df_list)

In [64]:
link_time = link_time[(link_time.link_timestamp >= '2022-12-01 00:00:00') & (link_time.link_timestamp <= '2022-12-31 23:59:59')]

In [67]:
link_time

,link_name,start_station_num,end_station_num,link_time,link_timestamp,path,gps_imei,routes
0,0_1,0,1,45,2022-12-01 05:13:03,G,860264050939926,1-15(150)
1,1_2,1,2,75,2022-12-01 05:14:18,G,860264050939926,1-15(150)
2,2_3,2,3,60,2022-12-01 05:15:18,G,860264050939926,1-15(150)
3,3_4,3,4,75,2022-12-01 05:16:33,G,860264050939926,1-15(150)
4,4_5,4,5,30,2022-12-01 05:17:03,G,860264050939926,1-15(150)
...,...,...,...,...,...,...,...,...
142,44_45,44,45,44,2023-01-19 18:52:02,G,867648045398946,4-26(167)
143,45_46,45,46,121,2023-01-19 18:54:03,G,867648045398946,4-26(167)
144,46_47,46,47,300,2023-01-19 18:59:03,G,867648045398946,4-26(167)
145,47_48,47,48,480,2023-01-19 19:07:03,G,867648045398946,4-26(167)
146,48_49,48,49,720,2023-01-19 19:19:03,G,867648045398946,4-26(167)

In [62]:
link_time.to_csv('/mnt/c/Users/ea_user/Documents/bas_project/ETA/GNN/data/thaistar_links/link_time_thaistar_m12.csv', encoding='utf-8-sig', index=False)

In [57]:
gps = pd.read_csv('/mnt/c/Users/ea_user/Documents/bas_project/ETA/eta_airflow/spark/resources/data/gps/thai-star_gps_2023-01-18.csv')
gps.sort_values('time')

,time,lat,lon,speed,odometer,gps_imei,registerNumber,brand,motorNumber,chassisNumber,description,route
0,2023-01-18 00:00:01,13.663260,100.514992,0,0,8.689980e+14,16-5851 กทม.,MINE BUS,MCS2011111,MRSBCREM4MZM00072,แยกพระประแดง - ขนส่งสายใต้ ตลิ่งชัน,4-8(35)
1,2023-01-18 00:00:01,13.723998,100.578255,4,0,8.667281e+14,16-3912,SUNLONG,D9168007634,PRAT29A3UFR000486,สถานีขนส่งผู้โดยสารกรุงเทพฯ (ถนนบรมราชชนนี) - ...,4-39(40)
2,2023-01-18 00:00:01,13.663260,100.514992,0,0,8.689980e+14,16-5851 กทม.,MINE BUS,MCS2011111,MRSBCREM4MZM00072,แยกพระประแดง - ขนส่งสายใต้ ตลิ่งชัน,4-8(35)
3,2023-01-18 00:00:01,13.723998,100.578255,4,0,8.667281e+14,16-3912,SUNLONG,D9168007634,PRAT29A3UFR000486,สถานีขนส่งผู้โดยสารกรุงเทพฯ (ถนนบรมราชชนนี) - ...,4-39(40)
4,2023-01-18 00:00:03,13.663480,100.515251,0,0,8.663811e+14,16-5939 กทม.,MINE BUS,MCS20111139,MRSBCREM9MZM00083,แยกพระประแดง - ขนส่งสายใต้ ตลิ่งชัน,4-8(35)
...,...,...,...,...,...,...,...,...,...,...,...,...
1432765,2023-01-18 19:09:25,13.974655,100.618233,42,0,8.667281e+14,16-4326,SUNLONG,D9168007362,PRAT29A3UFR000214,มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี - โรงพยาบาล...,1-24E(538)
1432764,2023-01-18 19:09:25,13.709976,100.399643,4,0,8.667281e+14,16-6875,MINE,DPPC9U0002,MRSBCREM2NZM00704,อ้อมใหญ่ – อนุสาวรีย์ชัยสมรภูมิ (ทางด่วน),4-54E(157)
1432782,2023-01-18 19:09:25,13.748852,100.564178,0,0,8.676480e+14,16-6967,MINE,DPPCA90017,MRSBCREM0NZM00779,ท่าเรือคลองเตย – อนุสาวรีย์ชัยสมรภูมิ,3-44
1432772,2023-01-18 19:09:25,13.554248,100.787689,53,0,8.663811e+14,16-5909 กทม.,MINE BUS,MCS20111169,MRSBCREM9MZM00018,เคหะบางพลี – สถานีรถไฟฟ้า (BTS) เอกมัย,3-15(133)
1432783,2023-01-18 19:09:25,13.650182,100.418816,0,0,8.676480e+14,16-3765,SUNLONG,D9168007288,PRAT29A3UFR000140,วงกลมเคหะธนบุรี - บางแค,4-25(147)

In [12]:
arrival = pd.read_csv(arrival_list[0])
arrival

,station_lat,station_long,distance,time,station_num,loop_num,path,route_num,gps_imei
0,13.744626,100.516295,10.663059,2022-12-31 00:56:23,0,0,B,4-36(7),864507039639728
1,13.745162,100.516346,42.863897,2022-12-31 00:56:38,1,0,B,4-36(7),864507039639728
2,13.746384,100.510059,40.164939,2022-12-31 00:58:38,2,0,B,4-36(7),864507039639728
3,13.744812,100.508880,36.831573,2022-12-31 00:59:08,3,0,B,4-36(7),864507039639728
4,13.743949,100.508228,16.262995,2022-12-31 00:59:38,4,0,B,4-36(7),864507039639728
...,...,...,...,...,...,...,...,...,...
183,13.602991,100.338230,71.203486,2022-12-31 04:31:05,90,1,B,4-36(7),864507039639728
184,13.599964,100.336104,112.692818,2022-12-31 04:31:20,91,1,B,4-36(7),864507039639728
185,13.598173,100.334861,103.407176,2022-12-31 04:31:50,92,1,B,4-36(7),864507039639728
186,13.595374,100.332082,77.121153,2022-12-31 04:32:20,93,1,B,4-36(7),864507039639728
187,13.593769,100.330573,48.316566,2022-12-31 04:32:35,94,1,B,4-36(7),864507039639728

In [25]:
arrival = arrival[(arrival.route_num == 6) & (arrival.path == 'go') & (arrival.loop_num == 0) 
            & (arrival.gps_imei == 869530043171871)].sort_values('station_num', ascending=True)

In [72]:
arrival = pd.read_csv('/home/ea_admin/Documents/spark/airflow-spark/spark/resources/data/arrival/m08/concat_arrival_time/arrival_time.csv')

for route in arrival.route_num.unique().tolist():
    for path in arrival.path.unique().tolist():
        df = arrival[(arrival.route_num == route) & (arrival.path == path)]
        unique_imei = df.gps_imei.unique().tolist()
        for imei in unique_imei:
            df = df[(arrival.gps_imei == imei)]
            loops = df.loop_num.unique().tolist()
            for loop in loops:
                df = df[(df.loop_num == loop)].sort_values('station_num', ascending=True)
                time = pd.to_datetime(df.time)
                tmp = (time - time.shift()).dt.total_seconds()
                tmp = tmp.dropna().reset_index(drop=True).reset_index().rename(columns={'index':'start'})
                tmp['end'] = tmp.start + 1
                tmp['link_name'] = tmp.start.astype(str) + '_' + tmp.end.astype(str)

                link_time = tmp.time.tolist()
                link_name = tmp.link_name.tolist()
                link_timestamp = time.iloc[1:]
                path_list = [path] * len(link_time)
                gps_imei_list = [imei] * len(link_time)
                route_list = [route] * len(link_time)

                link = pd.DataFrame([link_name, link_time, link_timestamp, path_list, gps_imei_list, route_list]).T
                link.columns = ['link_name', 'link_time', 'link_timestamp', 'path', 'gps_imei', 'route']
                break
            break
        break
    break

/home/ea_admin/miniconda3/envs/bas_env/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [71]:
link

    link_name link_time      link_timestamp path         gps_imei route
0         0_1     165.0 2022-08-01 04:09:28   go  866381052370019   133
1         1_2      30.0 2022-08-01 04:09:58   go  866381052370019   133
2         2_3      30.0 2022-08-01 04:10:28   go  866381052370019   133
3         3_4      45.0 2022-08-01 04:11:13   go  866381052370019   133
4         4_5      60.0 2022-08-01 04:12:13   go  866381052370019   133
..        ...       ...                 ...  ...              ...   ...
101   101_102     135.0 2022-08-01 05:15:13   go  866381052370019   133
102   102_103      30.0 2022-08-01 05:15:43   go  866381052370019   133
103   103_104      15.0 2022-08-01 05:15:58   go  866381052370019   133
104   104_105      90.0 2022-08-01 05:17:28   go  866381052370019   133
105   105_106     165.0 2022-08-01 05:20:13   go  866381052370019   133

[106 rows x 6 columns]

In [74]:
df

,station_lat,station_long,distance,time,station_num,loop_num,path,route_num,gps_imei,uuid
0,13.551719,100.787562,12.367780,2022-08-01 04:06:43,0,0,go,133,866381052370019,f740a8d4512a4c71bda00e79ff8a9406
1,13.555041,100.774513,51.945667,2022-08-01 04:09:28,1,0,go,133,866381052370019,d99d1a81819f459db7a703848e560a3f
2,13.555705,100.771890,7.657031,2022-08-01 04:09:58,2,0,go,133,866381052370019,4173a9bb6f8b49e99eb04b9241829b7d
3,13.556467,100.768748,72.429582,2022-08-01 04:10:28,3,0,go,133,866381052370019,1b0efe8d088844e291d6c61af19875c0
4,13.557094,100.766329,1.908193,2022-08-01 04:11:13,4,0,go,133,866381052370019,0143ad1c1fe44f2382e0edbdb1c3dc6a
...,...,...,...,...,...,...,...,...,...,...
452,13.713056,100.591332,68.762113,2022-08-01 05:15:13,103,0,go,133,866381052370019,7be4080a3a264b14b10f56dab64ba556
461,13.712668,100.589280,16.161776,2022-08-01 05:15:43,104,0,go,133,866381052370019,b5c04a0980e14b1dbdc87a912ae47800
463,13.712728,100.586812,63.256986,2022-08-01 05:15:58,105,0,go,133,866381052370019,482645265c0549169c1a6af389d9c700
490,13.714850,100.584313,1.571629,2022-08-01 05:17:28,106,0,go,133,866381052370019,ab7b3057edcd43d59b7fe0f945f675e5
534,13.718849,100.586336,30.612818,2022-08-01 05:20:13,107,0,go,133,866381052370019,b2c82b83bfbf4e4a9bf6c43908e24b29

In [33]:
link = pd.read_csv('/home/ea_admin/Documents/spark/airflow-spark/spark/resources/data/arrival/m08/links/link_6.csv')
link

,link_name,link_time,link_timestamp,path,gps_imei,routes
0,0_1,90,2022-08-01 05:10:09,go,869530043171871,6
1,1_2,45,2022-08-01 05:10:54,go,869530043171871,6
2,2_3,30,2022-08-01 05:11:24,go,869530043171871,6
3,3_4,60,2022-08-01 05:12:24,go,869530043171871,6
4,4_5,45,2022-08-01 05:13:09,go,869530043171871,6
...,...,...,...,...,...,...
242788,50_51,15,2022-08-31 22:32:15,back,864507039676258,6
242789,51_52,15,2022-08-31 22:32:30,back,864507039676258,6
242790,52_53,15,2022-08-31 22:32:45,back,864507039676258,6
242791,53_54,60,2022-08-31 22:33:45,back,864507039676258,6
242792,54_55,75,2022-08-31 22:35:00,back,864507039676258,6

In [31]:
import pandas as pd
from datetime import datetime, timedelta
import os
import argparse
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker


route_num_list = ['4-1(6)']
route_num_list = list(filter(lambda x: x is not None, route_num_list)) # drop None route number

# yesterday = datetime.now() - timedelta(days=1)
# yesterday = yesterday.strftime('%Y-%m-%d')
yesterday = '2023-01-16'
gps_file_path = f'/mnt/c/Users/ea_user/Documents/bas_project/ETA/eta_airflow/spark/resources/data/arrival_thaistar/{yesterday}/arrival_time/'
# gps_file_path = f'/home/ea_admin/Documents/spark/airflow-spark/spark/resources/data/arrival/{yesterday}/arrival_time/'
gps_files = os.listdir(gps_file_path)
gps_files = [gps_files[i] for i, s in enumerate(gps_files) if s.split('_')[1] in route_num_list]

arrival = [i for i in gps_files if i.split('_')[-1] != 'B.csv']

In [38]:
gps_files

['866381052358725_4-1(6)_B.csv',
 '866381052370225_4-1(6)_B.csv',
 '866381052370225_4-1(6)_G.csv',
 '866381052370738_4-1(6)_B.csv',
 '866381052370738_4-1(6)_G.csv',
 '866381052384499_4-1(6)_B.csv',
 '866381052396238_4-1(6)_B.csv',
 '866381052396311_4-1(6)_B.csv',
 '866381052396311_4-1(6)_G.csv',
 '866381052396675_4-1(6)_B.csv',
 '866381052396675_4-1(6)_G.csv',
 '866381052397178_4-1(6)_B.csv',
 '866381052397913_4-1(6)_B.csv',
 '866381052397913_4-1(6)_G.csv',
 '866381052399851_4-1(6)_B.csv',
 '869530043171863_4-1(6)_B.csv',
 '869530043171871_4-1(6)_B.csv']

In [32]:
arrival

['866381052370225_4-1(6)_G.csv',
 '866381052370738_4-1(6)_G.csv',
 '866381052396311_4-1(6)_G.csv',
 '866381052396675_4-1(6)_G.csv',
 '866381052397913_4-1(6)_G.csv']

In [40]:
pd.read_csv(gps_file_path + '866381052384499_4-1(6)_B.csv').iloc[0:100]

,station_lat,station_long,distance,time,station_num,loop_num,path,route_num,gps_imei
0,13.757326,100.497916,17.420355,2023-01-16 10:27:17,0,0,B,4-1(6),866381052384499
1,13.755645,100.494434,38.172246,2023-01-16 10:28:02,1,0,B,4-1(6),866381052384499
2,13.753796,100.493899,41.450875,2023-01-16 10:28:17,2,0,B,4-1(6),866381052384499
3,13.750613,100.493923,63.679178,2023-01-16 10:28:47,3,0,B,4-1(6),866381052384499
4,13.745826,100.494451,23.241767,2023-01-16 10:30:02,4,0,B,4-1(6),866381052384499
...,...,...,...,...,...,...,...,...,...
95,13.676848,100.515205,49.269932,2023-01-16 20:28:20,39,1,B,4-1(6),866381052384499
96,13.675529,100.517099,15.340780,2023-01-16 20:28:50,40,1,B,4-1(6),866381052384499
97,13.673639,100.518185,56.526419,2023-01-16 20:29:20,41,1,B,4-1(6),866381052384499
98,13.670912,100.519045,17.733004,2023-01-16 20:29:50,42,1,B,4-1(6),866381052384499
99,13.669356,100.519339,35.388365,2023-01-16 20:30:05,43,1,B,4-1(6),866381052384499

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import os
import argparse
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker



def get_parameters():
    parser = argparse.ArgumentParser(description='Arrival_preprocessing')
    parser.add_argument('--route_num_01', type=str, default= None, help='route number')
    parser.add_argument('--route_num_02', type=str, default= None, help='route number')
    parser.add_argument('--route_num_03', type=str, default= None, help='route number')
    args = parser.parse_args()
    return args

# init
args = get_parameters()

route_num_list = [args.route_num_01, args.route_num_02, args.route_num_03]
route_num_list = list(filter(lambda x: x is not None, route_num_list)) # drop None route number

yesterday = datetime.now() - timedelta(days=1)
yesterday = yesterday.strftime('%Y-%m-%d')

gps_file_path = f'/usr/local/spark/resources/data/arrival_thaistar/{yesterday}/arrival_time/'
# gps_file_path = f'/home/ea_admin/Documents/spark/airflow-spark/spark/resources/data/arrival/{yesterday}/arrival_time/'
gps_files = os.listdir(gps_file_path)
gps_files = [gps_files[i] for i, s in enumerate(gps_files) if s.split('_')[1] in route_num_list]
# print(gps_files)

# link_file_path = f'/usr/local/spark/resources/data/arrival_thaistar/{yesterday}/link_time/'
# # link_file_path = f'/home/ea_admin/Documents/spark/airflow-spark/spark/resources/data/arrival/{yesterday}/link_time/'
# isExist = os.path.exists(link_file_path)
# if not isExist:
#     os.makedirs(link_file_path)
#     print("The new directory is created!")


# for arrival_file in gps_files:
#     d = pd.read_csv(gps_file_path + arrival_file)
#     routes = d.route_num.unique().tolist()
#     path_list = d.path.unique().tolist()

#     for route_num in routes:
#         # combine to links
#         link=[]
#         gps = d[d.route_num==route_num]
#         # gps = gps[gps.path == 'go']

#         for path in path_list:
#             for gps_imei in gps.gps_imei.unique().tolist():
#                 df = gps[gps.gps_imei == gps_imei]
#                 df = df[df.path == path]
#                 # print(f"Current gps imei: {gps_imei}, Current path: {path}")

#                 for loop in df.loop_num.unique().tolist():
#                     if len(link)==0:
#                         link_name = []
#                         link_time = []
#                         link_timestamp = []
#                         temp = df[df.loop_num == loop]
#                         for i in range(len(temp)-1):
#                             if temp.station_num.tolist()[i+1] - temp.station_num.tolist()[i] == 1:
#                                 link_name.append(f'{temp.station_num.tolist()[i]}_{temp.station_num.tolist()[i+1]}')
#                                 link_time.append((pd.to_datetime(temp.time.iloc[i+1]) - pd.to_datetime(temp.time.iloc[i])).seconds)
#                                 link_timestamp.append(temp.time.tolist()[i+1])
#                         link = pd.DataFrame(link_name)
#                         # link.rename(columns={'0':'link_name'})
#                         link['link_time(sec)'] = link_time
#                         link['link_timestamp'] = link_timestamp
#                         link['path'] = [path]*len(link)
#                         link['gps_imei'] = [gps_imei]*len(link)
#                     else:
#                         link_name = []
#                         link_time = []
#                         link_timestamp = []
#                         temp = df[df.loop_num == loop]
#                         for i in range(len(temp)-1):
#                             if temp.station_num.tolist()[i+1] - temp.station_num.tolist()[i] == 1:
#                                 link_name.append(f'{temp.station_num.tolist()[i]}_{temp.station_num.tolist()[i+1]}')
#                                 link_time.append((pd.to_datetime(temp.time.iloc[i+1]) - pd.to_datetime(temp.time.iloc[i])).seconds)
#                                 link_timestamp.append(temp.time.tolist()[i+1])
#                         tmp = pd.DataFrame(link_name)
#                         # tmp.rename(columns={'0':'link_name'})
#                         tmp['link_time(sec)'] = link_time
#                         tmp['link_timestamp'] = link_timestamp
#                         tmp['path'] = [path]*len(tmp)
#                         tmp['gps_imei'] = [gps_imei]*len(tmp)
#                         link = pd.concat([link,tmp],axis=0)
#         link = link.sort_values('link_timestamp')
#         link.columns = ['link_name', 'link_time', 'link_timestamp', 'path', 'gps_imei']
#         link['routes'] = [route_num]*len(link)
#         link['split'] = link['link_name'].str.split('_')
#         link.insert(1, 'start_station_num', link['split'].apply(lambda x: x[0]))
#         link.insert(2, 'end_station_num', link['split'].apply(lambda x: x[1]))
#         link = link.drop('split', axis=1)


#         # save files
#         # print(link.head())
#         link.to_csv(link_file_path + arrival_file.split('.')[0] + '_link.csv', index=False, encoding='utf-8-sig')

#         # upload to postgresql
#         engine = create_engine("postgresql://admin:admin@192.168.14.91:5432/eta")
#         db = scoped_session(sessionmaker(bind=engine))
#         link.to_sql('link_time_thaistar', engine, if_exists='append', index=False)
#         d.to_sql('arrival_time_thaistar', engine, if_exists='append', index=False)
#         db.commit()